<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Распродажа телефонов</title>

</head>

<body>

<h1 style="color: Teal">Каталог</h1>

<!--*********************** КНОПКИ **************************-->


<a>Сортировать по:</a>
<br> <br>  <a href="?sort=model">      --> Названию           </a>
<br> <br>  <a href="?sort=min">       --> Начиная с дешёвых  </a>
<br> <br>  <a href="?sort=max">       --> Начиная с дорогих  </a>

<!--И теперь пишем сам код для шаблона, чтобы оно выводила не объекты, а поля объектов, которые есть в нашей Модели -->
<!--И теперь нужно сделать ссылки на каждое название-->

{% for phon in phones %}
    <br>  <br>                                   <a href="{% url 'nazv' phon.slug %}" >  {{ phon.name }}  </a>       <!--Как это работает: в ссылку вставляется по названию catalog/<nazvanie>/, но вместо nazvanie вставляется slug, который сформировался в момент создания базы
                                                                                                                И теперь мы переходим на страницу show_product-->
    <br> Стоимость:    {{ phon.price }}
    <img height="200" src="{{ phon.image }}" />

{% endfor %}



</body>
</html>